* {
    &,
    &:before,
    &:after{
        box-sizing: border-box;
    }
}

h1,h2,h3,h4,h5,h6,
p,blockquote,pre,
dl,dd,ol,ul,
form,fieldset,legend,
table,th,td,caption,
hr{
    margin:0;
    padding:0;
}

abbr[title],dfn[title]{
    cursor:help;
}

a,u,ins{
    text-decoration:none;
}

ins{
    border-bottom:1px solid;
}

img{
    font-style:italic;
}

label,
input,
textarea,
button,
select,
option{
    cursor:pointer;
}
    .text-input:active,
    .text-input:focus,
    textarea:active,
    textarea:focus{
        cursor:text;
        outline:none;
    }

