root = true

[*]
charset = utf8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.{css,js}]
indent_size = 4

[*.md]
trim_trailing_whitespace = false
