playwright-report
.github
.idea
/cypress
node_modules
dist
packages/browser-sync-ui/public
packages/browser-sync/templates/cli-template.js
packages/browser-sync/lib/lodash.custom.js
packages/browser-sync-ui/lib/plugins/remote-debug/overlay-grid/css/grid-overlay-horizontal.css
packages/browser-sync-ui/lib/plugins/remote-debug/overlay-grid/css/grid-overlay-vertical.css
