<script type='text/javascript' id="__bs_script__">//<![CDATA[
(function () {
    "use strict";
    var previousScriptTag = document.getElementsByTagName('script')[0],
        newScriptTag = document.createElement('script');
    newScriptTag.async = true;
    newScriptTag.src = String("%script%").replace("HOST", location.hostname);
    previousScriptTag.parentNode.insertBefore(newScriptTag, previousScriptTag);
}());
//]]></script>