<script type='text/javascript' id="__bs_script__">//<![CDATA[
    document.write("<script async src='%script%'><\/script>".replace(/HOST/g, location.hostname).replace(/PORT/g, location.port));
//]]></script>